.csv
.DS_Store
.pth
.pt
.pyc
backdoor_env/
mycode/mnist/__pycache__/
mycode/mnist/data/
mycode/mnist/models/
mycode/cfar10/data/
mycode/trojai_api/data/
mycode/imbd/__pycache__/
mycode/imbd/data/
mycode/imbd/models/
mycode/__pycache__/
mycode/transformer/data/
experiments/data/
experiments/__pycache__/
